
.App h1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.my-input{
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 16px;
  width: 300px;
}

.text{
  display: flex;

}

.movie-container{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  
}
.movie-container ul{
  list-style: none;
}

.item-container{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: row;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px black solid;  
  cursor: pointer;
}

.item-container h3{
  padding: 20px;
  font-size: 1.5em; 
}
